@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Chiron+Hei+HK:wght@300;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align contents to the bottom */
    min-height: 100vh;
    margin: 0pt 30pt;
    font-family: 'IBM Plex Sans', 'Chiron Hei HK', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    color: #1e1e1e;
}

.title {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 300;
}

a {
    text-decoration: none; /* Hide underline */
    color: black; /* Default blue text */
    transition: background 0.5s ease, -webkit-text-fill-color 0.5s ease; /* Smooth transition */
}

b {
    font-weight: 800; /* Changed font weight to black */
}

a:hover {
    text-decoration: underline; /* Show underline on hover */
    text-underline-offset: 1pt; /* Move underline below the text */
    font-weight: bold;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red); /* Rainbow gradient */
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Smooth transition to rainbow */
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2); /* Sharp and short distance shadow */
    animation: rainbow 3s linear infinite; /* Rainbow animation */
}

@keyframes rainbow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 130%;
    }
}

@keyframes dropShadow {
    0% {
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
    100% {
        text-shadow: 2px 2px 0px, rgba(0, 0, 0, 0.1);
    }
}

.bold-name {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red); /* Added red at the end */
    background-size: 400%;
    background-clip: text; /* Added standard property for compatibility */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 3s linear infinite;
}

.bold-name, a:hover {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red); /* Rainbow gradient */
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 3s linear infinite, dropShadow 0.5s ease-in-out; /* Added drop shadow animation */
}
